

.all
{
  background-color: red;
  display: grid;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  text-align: center;

  grid-template-areas:
  'h b '
  'f s ';
  grid-template-rows: 1fr 1fr;
  grid-template-columns:1fr 1fr ;

}
.but{
  background-color: gold;
  grid-area: b;
}
.first
{

  background-color: green;
  grid-area: f;
}
.second{
  background-color: #61dafb;
  align-items: center;
  grid-area: s;
}
.sum
 {

   border: #61dafb;
   grid-area: h;
 }